*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    --bodyColor : hsl(0, 0%, 98%);
    --cardColor : white;
    --normalText : hsl(235, 19%, 35%);
    --completedText : #d2d3db;
    --strikeColor : hsl(233, 14%, 35%);
    --mobileImage: url("images/bg-mobile-light.jpg");
    --hovered: hsl(235, 19%, 35%);
    --footerText : #9394a5;
    --shadow: 0px 7px 24px 0px rgba(176,173,176,1);
    --opacity: 1;
    --mobileMenu: white;
}
html[data-theme="dark"]{
    --bodyColor: hsl(235, 21%, 11%);
    --cardColor: hsl(235, 24%, 19%);
    --normalText: hsl(234, 39%, 85%);
    --completedText: hsl(233, 14%, 35%);
    --strikeColor: #9394a5;
    --footerText: #777a92;
    --hovered: white;
    --mobileImage: url("images/bg-mobile-dark");
    --shadow: 0px;
    --opacity: 0;
    --mobileMenu: #25273c;
}
.body-image-dark{
    position: absolute;
    top:0;
    width:100%;
    z-index:-2;
}
.body-image-light{
    position: absolute;
    top:0;
    width:100%;
    z-index:-1;
    opacity:var(--opacity);
    transition: opacity 0.9s linear;
}
body{
    background-color: var(--bodyColor);
    background-size:100%;
    transition: background-color 0.7s linear;
    
}
.body-wrapper{
    width: calc(100% - 62.3vw);
    margin:8.5vh auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:3rem;
    img{
        width:30px;
    }
    h1{
        color:white;
        letter-spacing: 1.1rem;
        font-size: 2.5rem;
    }
}
.new-card{
    margin-bottom: 3vh;
    border-radius: 0.3em;
    overflow:hidden;
}
.item-card{
    display:flex;
    background-color: var(--cardColor);
    width:100%;
    height: 64.078px;
    z-index: 3;
    position:relative;
    transition: background-color 0.7s linear,height 0.4s linear,opacity 0.4s linear;
}

.input-field{
    background:transparent;
    border:none;
    position:absolute;
    left:70px;
    top:50%;
    color:var(--normalText);
    transform: translate(0,-50%);
    width:80%;
    font-size:20px;
    height: 100%;
    &::placeholder{
        color: hsl(234, 11%, 52%);
        font-size:18px;
    }
}
.check-list{
    border-radius: 0.3em;
    z-index: 3;
    overflow:hidden;
    box-shadow: var(--shadow);
    transition: box-shadow 0.7s linear;
    .item-card{
        border-bottom: 1px solid hsla(234, 39%, 85%, 0.13);
        cursor:pointer;
        h3{
            position:absolute;
            top:50%;
            transform: translate(0,-50%);
            left:70px;
            color: var(--normalText);
            font-weight: 400;
            transition: color 0.7s linear;
            &::after{
                content: "";
                width: 0%;
                background-color:var(--strikeColor);
                position:absolute;
                left:0;
                top:50%;
                height:1px;
                z-index:3;
                transition:width 0.4s linear;
                
            }
        }
    }
}
.checked{
    color: var(--completedText)!important;
    text-decoration-color: var(--strikeColor);
    &::after{
        width:100%!important;
    }
    &::before{
        opacity: 1!important;
    }
}
.checklist-footer{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: var(--cardColor);
    transition: background-color 0.7s linear;
    padding:20px;
    z-index: 3;
    color: hsl(234, 11%, 52%);
    h5{
        font-weight: 400;
    }
}
.filter-list{
    display: flex;
    justify-content: space-between;
    flex-basis:150px;
    margin:auto;
    h5{
        font-weight: 700;
    }
}
input:focus-visible{
    outline-color: transparent;
    outline-width:0;
}
.clicked{
    color: hsl(220, 98%, 61%);
}
.filter:hover , .clear:hover{
    color:var(--hovered);
    cursor:pointer;
}
.item-card{
    h3::before{
        content : "";
        width:20px;
        height:20px;
        position:absolute;
        border-radius: 50%;
        border:2px solid rgba(81, 81, 206, 0.192);
        top: -4px;
        left: -47px;
        transition: opacity 0.3s linear;
        background:url("images/check.png") no-repeat center;
        opacity:0.12;
    }
}
.mobile-menu{
    display: none;
}
.theme-switcher{
    transition: transform 0.1s linear,opacity 0.2s linear;
}

@media screen and (max-width:1220px){
    .body-wrapper{
        width: calc(100% - 22.3vw);
    }
}
@media screen and (max-width:425px){
    .checklist-footer > .filter-list{
        display: none;
    }
    .mobile-menu{
        display: flex;
        justify-content: space-evenly;
        padding:1em;
        background-color:var(--mobileMenu);
        margin-top:2rem;
        border-radius: 0.25em;
        color:hsl(234, 11%, 52%);
        box-shadow: var(--shadow);
        transition: background-color 0.7s linear,box-shadow 0.7s linear;
    }
    .filter:hover{
        color: hsl(220, 98%, 61%);
    }
    h1,h3{
        font-size:1em;
    }
    .input-field::placeholder{
        font-size:0.9em;
    }
}